<form asp-action="Create">
    <div class="form-row">
        <div class="col">
            <label>Username: </label>
            <input name="username" placeholder="Username" id="usernameI">
        </div>
        <div class="col">
            <label>Nickname: </label>
            <input name="nickname" placeholder="Nickname">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label>Password: </label>
            <input name="Password" placeholder="Password">
        </div>
        <div class="col">
            <label>Image: </label>
            <input name="image" placeholder="Image">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="submit"/>
        </div>
    </div>
</form>
